@import url("https://fonts.googleapis.com/css?family=Montserrat:600|Roboto+Slab:700");
body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  background: #fff;
}

body,
html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab';
  text-transform: uppercase;
  font-weight: bold;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

#nav {
  background: #fff;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 999;
  display: flex;
  -o-display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#nav .logo {
  position: absolute;
  top: 0;
  left: 0;
  align-self: center;
}

#nav .logo img {
  margin: 1em;
  width: 100px;
}

#nav .links {
  flex: 1;
}

#nav .links a {
  display: block;
  font-size: 4em;
  margin: 6px 1em;
  color: #000;
  position: relative;
  z-index: 999;
  letter-spacing: -2px;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#nav .links a:before {
  content: '';
  width: 65%;
  height: 20%;
  background: #000;
  position: absolute;
  bottom: 0;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 12;
}

#nav .links a:hover {
  transform: translateX(-20px);
}

#nav .links a:hover:before {
  transform: translateX(50px);
}

#nav .contact-details {
  flex: 2;
  height: 100%;
  display: flex;
  -o-display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nav .contact-details h1 {
  text-align: right;
  margin: 0;
  align-self: flex-end;
  margin: 0 1em;
  font-size: 5rem;
  padding: 0;
}

#nav .contact-details ul li {
  text-align: left;
  line-height: 1.65;
  font-size: 1.4rem;
}

#nav .contact-details ul li span {
  font-family: 'Roboto Slab';
  font-size: 1.32em;
  background: grey;
  text-transform: uppercase;
}

#nav .close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1em;
}

header {
  position: fixed;
  display: flex;
  -o-display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

header:hover {
  opacity: 1;
}

header .logo a {
  margin: 0 1em;
  display: block;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

header .logo a:hover {
  transform: scale(1.05);
}

header .logo a img {
  width: 75px;
}

header .menu {
  margin: 0 1em;
}

header .menu .button {
  display: inline-block;
  cursor: pointer;
  z-index: 999;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

header .menu .button .bar1,
header .menu .button .bar2,
header .menu .button .bar3 {
  width: 35px;
  height: 5px;
  background: #000;
  margin: 6px 0;
}

header .menu .button:hover * {
  color: #000;
}

#jumbo {
  margin-top: 0;
  display: flex;
  -o-display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  -o-display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (min-width: 320px) {
  #nav {
    background: lightgray;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 999;
    display: flex;
    -o-display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  #nav .logo {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    align-self: center;
  }
  #nav .logo img {
    margin: 1em;
    width: 100px;
  }
  #nav .links a {
    display: block;
    font-size: 3em;
    margin: 6px 1em;
    color: #000;
    position: relative;
    z-index: 999;
    letter-spacing: -2px;
    transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  #nav .links a:before {
    content: '';
    width: 65%;
    height: 20%;
    background: #000;
    position: absolute;
    bottom: 0;
    transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 12;
  }
  #nav .links a:hover {
    transform: translateX(-10px);
  }
  #nav .links a:hover:before {
    transform: translateX(20px);
  }
  #nav .contact-details {
    display: flex;
    -o-display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  #nav .contact-details h1 {
    text-align: left;
    margin: 0;
    align-self: flex-end;
    font-size: 3.2em;
    padding: 0;
  }
  #nav .contact-details ul li {
    text-align: left;
    line-height: 1.1;
  }
  #nav .contact-details ul li span {
    font-family: 'Roboto Slab';
    font-size: 1em;
    background: grey;
    text-transform: uppercase;
  }
  #nav .close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1em;
  }
}
/*# sourceMappingURL=main.css.map */